.btn {
  font-size: 14px;
  padding: 4px;
  color: #fff;
  outline: 0;
  border: none;
  border-radius: 2px;
}
.btn--edit {
  margin-right: 8px;
  background: rgb(145, 145, 20);
}

.btn--edit:disabled,
.btn--edit[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: inherit;
}
